langchain
langchain-openai
langchain-community
langchain-chroma
langchain-core
chromadb
pydantic
fastapi
uvicorn[standard]
streamlit
streamlit-local-storage
python-dotenv
pandas
openpyxl
langsmith
pymupdf
python-docx
requests
numpy
pandas